.cart.modal__header {
    background-color: #15529c;
    color: var(--white-color);
    padding: 1rem;
    span {
      font-weight: 500;
    }
  }
  
  .cart_container {
    height: 50%;
    overflow-y: scroll;
  
    .cart_list {
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 1rem;
      gap: 1rem;
      font-size: 0.8rem;
  
      svg {
        color: var(--light-gray-color);
        cursor: pointer;
      }
  
      .cart_left_side {
        flex: 1;
        figure {
          border: var(--input-border);
          img {
            width: 80px;
          }
        }
      }
  
      .cart_middle_side {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        p {
          font-weight: bold;
          font-size: 1rem;
          margin: 0;
        }
  
        .action_btns {
          gap: 0.5rem;
  
          span {
            border: 1px solid #a5b5c9;
            border-radius: 5px;
            padding: 0 0.5rem;
          }
  
          svg {
            color: #013678;
            cursor: pointer;
          }
        }
      }
    }
  
    .empty_message {
      width: 60%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
  
  .cart_modal {
    min-width: 500px;
    left: auto !important;
    right: -30px !important;
    bottom: -31px !important;
    top: -31px !important;
  }
  
  .cart_modal .css-hz1bth-MuiDialog-container .MuiPaper-root.MuiPaper-elevation {
    width: 100%;
    height: 100vh;
    border-radius: 0 !important;
    overflow-x: hidden;
  }
  
  .calculation_section {
    width: 60%;
    border: var(--input-border);
    position: absolute;
    bottom: 100px;
    padding: 1rem;
    transform: translateX(25%);
  
    .calculations_container {
      margin-top: 1rem;
  
      strong {
        opacity: 0.8;
      }
  
      .discount,
      .delivery {
        color: #53a65e;
      }
  
      .total {
        color: #356db3;
      }
    }
  }
  
  .modal_footer {
    width: 94%;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    button {
      border: none;
      outline: none;
      color: var(--white-color);
      border-radius: 30px;
    }
  }
  