body {
  // height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
:root {
  --white-color: #fff;
  --black-color: #000;
  --red-color: #ff0000;
  --green-color: #008000;
  --blue-color: #0000ff;
  --alice-blue: #f0f8ff;
  --yellow-color: #edbd3f;
  --hero-btn-color: #e3c9b2;
  --input-border : #858585;
  --about-bg: rgba(227, 201, 178, 0.54);
  --bg-color: rgba(182, 153, 123, 0.77);
  --img-overlay: rgba(227, 201, 178, 0.60);
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --orange-color: #eb6e00;
  --open-sans: "Open Sans", sans-serif;
  --input-field-shadow: 0px 0px 6px #b2bcc659;
  --placeholder-color: #dddddd;
  --btn-bg-color: #2c66aa;
  --dark-gray: #a9a9a9;
  --light-gray-color: #888888;
  --title-color: #013678;
  // --blue-color: #01367a;
  --btn-box-shadow: 0px 0px 5px #ffffff40;
  --modal-bg: #b1c9e6;
  // --red-color: red;
  --error-border: 1px solid red;
  --search-bar-border: 1px solid #cccccc;
  --header-bg: linear-gradient(to top, #d7d7d7, #ffffff00);
  --header-box-shadow: 0px 5px 3px #00000040;
  --svg-color: #15529c;
}

@import "auth.scss";
@import "about.scss";
@import "blogs.scss";
@import "blog.scss";
@import "contact.scss";
@import "footer.scss";
@import "header.scss";
@import "home.scss";
@import "portfolio.scss";
@import "categories.scss";
@import "products.scss";
@import "service.scss";
@import "services.scss";
@import "productDetails.scss";
@import "cart.scss";
@import "mixins.scss";

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex__start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.flex__end {
  display: flex;
  align-items: end;
  justify-content: end;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

.container {
  height: calc(100vh - 11rem);
}

.btn {
  border: none;
  outline: none;
  background: var(--yellow-color);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

input {
  background: transparent;
  padding: 0.5rem 0;
  margin: 0.5em 0;
  width: 100%;
  border: none;
  outline: none;
}

.input__field {
  // background: var(--input-border);
  border: var(--input-border);
  border-radius: 10px;
  box-shadow: var(--input-field-shadow);
  opacity: 1;
  padding: 0 1rem;

  svg {
    color: var(--dark-gray);
  }
}

.input__field.invalid {
  border: var(--error-border);
}

.devider {
  height: 1.5rem;
  border: var(--input-border);
  margin: 0 1rem;
}

.seperator {
  width: 100%;
  border: 1px solid #cce3ff;
  margin: 1rem 0;
  opacity: 0.5;
}

figure {
  margin: 0;
  padding: 0;
}

// Page not Found
.page_not_found {
  flex-direction: column;
  gap: 1rem;

  img {
    width: 45%;
  }
}

